{% extends 'base.html' %}

{% block title %}
Code error Page
{% endblock %}

{% block content %}
<div class= "container p-3">
    <div style="font-size: 1.2rem">
        <li >
            You entered the code incorrectly more than 3 times, contact the person who gave you the code and ask for a new one.
            </li>
        <li>
            For data security, this web page is closed for 2 minutes, after this time, please reload the page and enter the correct code
        </li>
    </div>
</div>
{% endblock %}